<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>HorizonEllo</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <header>
    Your header code here
  </header>

  {{{ body }}}

  <footer>
    Your footer code here
  </footer>

  <script src="js/jquery.min.js"></script>
  <script src="js/underscore-min.js"></script>
  <script src="js/script.js"></script>
</body>
</html>

